@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

h2 {
	margin-bottom: 0;
}

p.iteration-dates {
	margin-top: 0;
}

.current-iteration, .current-state {
	padding-left: 1em;
}

.enhanced-sprint-history {
	font-size: $fontSizeM;
	padding: 0 1em;
}
