table {
	margin-bottom: 2em;
}

th, td {
	padding: .25em .5em;
}

th.date {
	width: 100px;
}

td {
	vertical-align: top;
}

.story-points {
	text-align: center;

	&.total {
		font-weight: bold;

		&.decrease {
			color: green;
		}

		&.increase {
			color: red;
		}
	}
}

.iteration-history-display, .iteration-history-display.bolt-card {
	margin-bottom: 1em;
	overflow: visible;
}

.iteration-history-display {
	.bolt-card-content {
		display: grid;
	}
}

.display-child.tab-charts {
	&>canvas {
		margin-top: 1em;
		max-height: 70vh;
	}
}
