.iteration-history-settings, .bold-card.iteration-history-settings {
	margin-bottom: 1em;
	overflow: visible;
	position: relative;
}

.iteration-history-settings {
	&.hide {
		padding-bottom: 0;

		.bolt-card-content {
			height: 0;
		}
	}

	.bold-card-content {
		display: grid;
	}

	.fabric-icon {
		cursor: pointer;
		position: absolute;
		top: .5em;
		right: .5em;
		font-size: 200%;
	}

	section.hide {
		display: none;
	}

	.wit-dropdown {
		position: relative;
	}

	.save-button {
		margin-top: 2em;
	}
}
