.user-story-listing, .bolt-card.user-story-listing {
	margin-bottom: 1em;
	overflow: visible;
}

.user-story-listing {
	.bolt-card-content {
		display: grid;
	}
}

.user-stories .tab-content {
	&>div {
		margin-bottom: .75em;
	}

	.assignee-item {
		display: grid;
		grid-template-columns: 55px auto;
		margin-bottom: 1.5em;

		img {
			border-radius: 22px;
			height: 44px;
			width: 44px;
		}

		&>div {
			&>span {
				font-size: 1.25em;
			}

			p {
				margin: 0;
			}
		}
	}
}

.state-circle {
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
	width: 11px;
	height: 11px;
	margin-top: 4px;
	float: left;
	position: relative;
	margin-right: 4px;

	&.item-state-active {
		border-color: rgb(0 122 204);
		background-color: rgb(0 122 204);
	}

	&.item-state-closed {
		border-color: rgb(51 153 51);
		background-color: rgb(51 153 51);
	}

	&.item-state-new {
		border-color: rgb(178 178 178);
		background-color: rgb(178 178 178);
	}

	&.item-state-removed {
		border-color: rgb(86 136 224);
		background-color: transparent;
	}

	&.item-state-resolved {
		border-color: rgb(0 122 204);
		background-color: rgb(0 122 204);
	}
}
